@model IEnumerable<JobsLibrary.Job>
@{
    ViewBag.Title = "Home Page";
    int startIndex = ViewBag.StartIndex;
    int jobEntriesPerPage = ViewBag.JobEntriesPerPage;
}

@*<div class="text-center">
        <h1 class="display-4">The Popular Job</h1>
        <h3>Your website for Work and Holiday jobs in Australia</h3>
    </div>*@

<div>
    @foreach (var job in Model)
    {
        <div class="card" style="margin-bottom:3em">
            <div class="card-header d-flex justify-content-between">
                <h5>@job.Title</h5>
                <span>@job.Date</span>
            </div>
            <div class="card-body child-margin-1">
                @if (!string.IsNullOrEmpty(job.Company))
                {
                    <div><i class="fa fa-building"></i> @job.Company</div>
                }
                @if (!string.IsNullOrEmpty(job.Location))
                {
                    <div><i class="fa fa-map-marker"></i> @job.Location</div>
                }
                @if (!string.IsNullOrEmpty(job.Description))
                {
                    <div>@job.Description</div>
                }
                @if (!string.IsNullOrEmpty(job.Salary))
                {
                    <div><i class="fa fa-usd"></i> @job.Salary</div>
                }
            </div>
            <div class="card-footer">
                <a class="btn btn-primary mt-2" href="@job.Href" target="_blank">Apply</a>
            </div>
        </div>
    }
    @if (startIndex >= 20)
    {
        <a class="btn btn-primary mr-3" asp-route-startIndex="@(startIndex + jobEntriesPerPage)">Previous</a>
    }
    <a class="btn btn-primary" asp-route-startIndex="@(startIndex + jobEntriesPerPage)">Next</a>
</div>