@model ListJobsViewModel
@{
    ViewBag.Title = "Home Page";
}

<form asp-action="ListJobs" method="get" class="input-group mb-5 mx-auto" style="max-width:600px">
    <input type="text" asp-for="SearchString" class="form-control" placeholder="Search..." />
    <button class="input-group-append border-0 p-0">
        <span class="input-group-text" style="height:100%">
            <i class="fa fa-search"></i>
        </span>
    </button>
</form>

<div class="text-center mb-3">
    @Model.JobsNumberForQuery jobs were found
</div>

<div>
    @foreach (var job in Model.Jobs)
    {
        <div class="card" style="margin-bottom:3em">
            <div class="card-header d-flex justify-content-between">
                <h5>@job.Title</h5>
                <span style="min-width:55px">@job.TimeAgo</span>
            </div>
            <div class="card-body child-margin-1">
                @if (!string.IsNullOrEmpty(job.Company))
                {
                    <div><i class="fa fa-building"></i> @job.Company</div>
                }
                @if (!string.IsNullOrEmpty(job.Location))
                {
                    <div><i class="fa fa-map-marker"></i> @job.Location</div>
                }
                @if (!string.IsNullOrEmpty(job.Description))
                {
                    <div>@job.Description</div>
                }
                @if (!string.IsNullOrEmpty(job.Salary))
                {
                    <div><i class="fa fa-usd"></i> @job.Salary</div>
                }
            </div>
            <div class="card-footer">
                <a class="btn btn-primary mt-2" href="@job.Href" target="_blank">Apply</a>
            </div>
        </div>
    }

    <div class="d-flex justify-content-between mx-auto" style="max-width:400px">
        @{ var disabledClass = Model.StartIndex >= 20 ? "" : "disabled";}

        <a class="btn btn-info @disabledClass" asp-action="ListJobs" asp-route-startIndex="@(Model.StartIndex - Model.JobsPerPage)"
           asp-route-searchString="@Model.SearchString">
            Previous
        </a>
        <span class="btn">@Model.PageNumber</span>
        <a class="btn btn-info" asp-action="ListJobs" asp-route-startIndex="@(Model.StartIndex + Model.JobsPerPage)"
           asp-route-searchString="@Model.SearchString">
            Next
        </a>
    </div>
</div>