@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<JobsLibrary.Job>

@{
    int startIndex = ViewBag.StartIndex;
    int entriesPerPage = ViewBag.EntriesPerPage;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Job List</title>
</head>
<body>
    <h1>Job List</h1>

    @foreach (var job in Model)
    {
        <div style="margin-top:2em">
            <div>
                ID: @job.Id
            </div>
            <div>
                Title: @job.Title
            </div>
            <div>
                Company: @job.Company
            </div>
            <div>
                Location: @job.Location
            </div>
            <div>
                Date: @job.Date
            </div>
            <div>
                Description: @job.Description
            </div>
            <div>
                URL: @job.Href
            </div>
            <div>
                Original Website: @job.OriginalWebsite
            </div>
            <div>
                Salary: @job.Salary
            </div>
        </div>
    }

    <a asp-route-startIndex="@(startIndex + entriesPerPage)">Next</a>
    <a asp-route-startIndex="@(startIndex - entriesPerPage)">Prev</a>
</body>
</html>